node_modules

tmp
tmp/*
!tmp/.gitkeep

dist

logs/

/__tests__/coverage
/__tests__/database.sqlite

.env
.env.example
.env.test
.env.*

.gitignore
yarn.lock

.eslintrc.js
.prettierrc
.editorconfig

scripts/

nodemon.json
